<!-- <p>page-test works!</p> -->

<h1>Liste des médecins</h1>
<article class="pt-2 table-responsive-sm">
    <table class="table table-bordered table-hover">
        <caption>Liste des médecins</caption>
        <thead class="table-light border">
            <tr class="text-center">
                <th class="col-2">Nom</th>
                <th class="col-2">Prénom</th>
                <th class="col-2">Spécialité</th>
                <th class="col-3">Adresse</th>
                <th class="col-3">Siret</th>
            </tr>
        </thead>
        <tbody class="border">
            <tr *ngFor="let list of listPhysicians">
                <td class="text-nowrap fw-bold">
                    {{list.lastname}}
                </td>
                <td>
                    {{list.firstname}}
                </td>
                <td class="text-end">
                    {{list.specialty}}
                </td>
                <td class="text-nowrap">

                    {{list.address}}

                </td>
                <td>
                    {{list.siret}}
                </td>
                
            </tr>
        </tbody>
    </table>
</article>

