<!-- <p>page-accueil works!</p> -->
<main class="container-xl">
    
    <div class="d-flex flex-column justify-content-between">
    <div class="text-center">
        <h1>Bienvenue dans Software for Medical Care</h1>
    </div>

    <p class="mb-5">Cette application vous permet de réserver une consultation physique chez un
        professionnel de santé. Pour commencer vous devez créer un compte.    
    </p>


        <div class="text-center mt-5">
            <a routerLink="/page-intermediaire"><button type="button" class="btn btn-primary btn-lg">Créer un compte</button></a>
        </div>
    </div>

</main>



