<!-- <p>page-sign-in works!</p> -->

<main class="container-xl">
    <form (ngSubmit)="onSubmitSignIn(signInForm)" #signInForm="ngForm" class="col-6 col-md-8 row-cols-lg-auto g-3 mx-auto mt-5">
        
            <label for="inlineFormInputGroupUsername">Username (email adress)</label>
            <div class="input-group">
                <div class="input-group-text">@</div>
                <input name="username" ngModel required type="text" class="form-control" id="inlineFormInputGroupUsername">
            </div>
            <label for="exampleInputPassword1" class="form-label mt-3">Password</label>
            <input name="password" ngModel required type="password" class="form-control" id="exampleInputPassword1">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                <button class="btn btn-primary" type="submit" [disabled]="signInForm.invalid">Envoyer</button>
            </div>
        
    </form>

</main>

